page-contacts {

    .scroll-content{
         background: url('../assets/icon/bg_landing.png') no-repeat center center fixed;
}

 ion-card-header {
    background-color:#EAEDED; 
} 

#txt{
  color: #303F9F;
  padding-bottom: 10px
}

#head{
  color: #00BCD4
}


}
