page-help {

   .scroll-content{
  background: url('../assets/icon/bg_landing.png') no-repeat center center fixed;
  
}
 
ion-col{
  border: solid gray;
   justify-content: center;
 
}
.col{
  border: solid gray;
   
}
.image{
   
   width: 25%;
   height: 25%
}

ion-card-header {
    background-color:#EAEDED; 
    color: #00BCD4
}

#txt{
  color: #303F9F;
  padding-bottom: 10px;
}

#head{
  color: #00BCD4
}

}
