page-tourist-places {
    
     ion-title{
            text-align: center;
            
        }
     .scroll-content {
      background: url('../assets/icon/bg_landing.png') no-repeat center center fixed;
      margin-top:45px;
    }
    .title{
  //  font-family:'Myriad Pro';
   text-align: center;
   font-weight:bold;
    color:white;
  padding-top:0px!important;
  padding-right:45px!important;
           
        }
     .title1{
             text-align: center;
            font-size: 1.5rem;
    font-weight: bold;
    text-transform: none;
    color: white!important;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-top:0px;
  //  font-family: 'Myriad Pro';
        }
     .toolbar-title-wp{
                font-size: 1.5rem;
    font-weight: bold;
    text-transform: none;
    color: rgb(244, 244, 244);
    padding-left: 50px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-top:0px;
   // font-family: 'Myriad Pro';
            }
 .toolbar-title-md {
  padding-left: 50px;
  padding-right: 0px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  margin-top:5px;
    font-weight: bold;
}
       .toolbar-title-ios{

font-size: 1.5rem;
    font-weight: bold;
    text-transform: none;
    color: rgb(244, 244, 244);
    padding-left: 50px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-top:0px;
   // font-family: 'Myriad Pro';
       } 
        }

