page-transport-details {

    .scroll-content{
  background: url('../assets/icon/bg_landing.png') no-repeat center center fixed;
}
 
 ion-card-header {
    background-color:#EAEDED; 
    color: #00BCD4;
    
} 

ion-card{
  border-radius: 30px;
}

#txt{
  color: #303F9F
  
}

#head{
  color: #00BCD4
}

.card-content-ios {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 13px;
    padding-bottom: 14px;
    font-size: 1.4rem;
    line-height: 1.4;
}

}
 